<mat-card>
  <form autoComplete="off" [formGroup]="formGroupEl">
    <mat-card-header>
      <mat-card-title>
        Add a new Task
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" placeholder="title" id="title">
        <mat-icon color="default" matSuffix>task</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Group</mat-label>
        <mat-select formControlName="group">
          <mat-option *ngFor="let group of taskGroups" [value]="group.gid">
            {{group.title}}
          </mat-option>
        </mat-select>
        <mat-icon color="default" matSuffix>group_work</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" placeholder="description" id="description">
        <mat-icon color="default" matSuffix>description</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Deadline</mat-label>
        <input matInput type="date" formControlName="deadline" placeholder="deadline" id="deadline">
        <mat-icon color="default" matSuffix>calendar_month</mat-icon>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions align="end">
        <button mat-stroked-button type="button" (click)="onClickSubmit()"
          [disabled]="!formGroupEl.valid || isDataFetching">Add</button>
        <button mat-stroked-button type="button" (click)="onClickCancel()" color="warn">Cancel</button>
      </mat-card-actions>
    </mat-card-footer>
    <div class="help-box"
      *ngIf="!formGroupEl.valid && formGroupEl.touched && formGroupEl.dirty && ((!formGroupEl.controls['title'].valid && formGroupEl.controls['title'].touched && formGroupEl.controls['title'].dirty) || (!formGroupEl.controls['description'].valid && formGroupEl.controls['description'].touched && formGroupEl.controls['description'].dirty) || (!formGroupEl.controls['deadline'].valid && formGroupEl.controls['deadline'].touched && formGroupEl.controls['deadline'].dirty))">
      <span class="help-box__title">Help:</span>
      <ul>
        <li
          *ngIf="!formGroupEl.controls['title'].valid && formGroupEl.controls['title'].touched && formGroupEl.controls['title'].dirty">
          Title must be at least 3 characters long and start with an alphabet! Only parentheses and spaces are allowed!
        </li>
        <li
          *ngIf="!formGroupEl.controls['description'].valid && formGroupEl.controls['description'].touched && formGroupEl.controls['description'].dirty">
          Description must be at least 5 characters long and alphanumeric! Moreover, parentheses and spaces are allowed!</li>
        <li
          *ngIf="!formGroupEl.controls['deadline'].valid && formGroupEl.controls['deadline'].touched && formGroupEl.controls['deadline'].dirty">
          Deadline date must be valid!</li>
      </ul>
    </div>
  </form>
</mat-card>