$break-point__vertical--xs: 520px;

mat {
  &-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    height: 75vh;

    @media all and (max-height: $break-point__vertical--xs) {
      justify-content: start;
      height: 95vh;
    }

    &-header,
    &-actions {
      flex-grow: 0;
    }

    &-content {
      display: flex;
      flex-direction: column;
    }

    &-title {
      text-align: center;
      padding: 1rem;
      color: white;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
}
