$break-point__vertical--xs: 750px;
$break-point__vertical--xxs: 370px;
$break-point__horizontal--s: 600px;

mat {
  &-card {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 75vh;
    padding-bottom: 2rem;

    @media all and (max-height: $break-point__vertical--xs) {
      height: 95vh;
    }

    &-header,
    &-actions {
      flex-grow: 0;
    }

    &-content {
      overflow: auto;
      display: flex;
      flex-direction: column;
      padding-top: 1rem;

      @media all and (max-height: $break-point__vertical--xxs) {
        overflow: visible;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
}

.form {
  &-fields {
    &__reminder {
      margin-bottom: 0.5rem;
      color: white;

      &__label {
        * {
          vertical-align: middle;
        }
      }

      &__date {
        text-align: center;
      }

      &-settings {
        display: flex;
        flex-direction: row;

        @media all and (max-width: $break-point__horizontal--s) {
          flex-direction: column;
        }
      }
    }

    &__remindMe {
      align-self: flex-end;
      margin-bottom: 0.5rem;

      * {
        vertical-align: middle;
      }
    }
  }
}
