<div class="page-container theme-light">
  <div class="page-header">
    <h1 i18n>All Tasks Matter</h1>
    <mat-icon aria-hidden="false" aria-label="sentiment very satisfied icon" fontIcon="sentiment_very_satisfied"
      color="accent"></mat-icon>
  </div>
  <div class="page-animation">
    <img i18n-alt i18n-title
      src="https://media0.giphy.com/media/AIPvjOCQ6Gvg9Ll6uR/giphy.gif?cid=ecf05e47k1tjoz740215lzqomosx6dbpih36prhyr2chuwv5&rid=giphy.gif&ct=g"
      alt="I Love You Heart GIF By Chippy The Dog" title="I Love You Heart GIF By Chippy The Dog via GIPHY" width="300">
    <p>
      <a i18n href="https://giphy.com/gifs/love-i-you-chippythedog-AIPvjOCQ6Gvg9Ll6uR" target="_blank"
        rel="noopener noreferrer" class="hyper-links">via
        GIPHY</a>
    </p>
  </div>
  <div class="page-actions">
    <button i18n mat-raised-button (click)="onOpenUserLoginDialog()" color="default">Login</button>
    <button i18n mat-raised-button (click)="onOpenUserRegistrationDialog()" color="default">Sign
      Up</button>
  </div>
</div>