<div class="page-container">
  <div class="page-header">
    <h1>{{"WELCOME_PAGE.header.title" | translate}}</h1>
    <mat-icon aria-hidden="false" [ariaLabel]="'WELCOME_PAGE.header.titleIconAriaLabel' | translate"
      fontIcon="sentiment_very_satisfied" color="accent"></mat-icon>
  </div>
  <div class="page-animation">
    <img
      src="https://media0.giphy.com/media/AIPvjOCQ6Gvg9Ll6uR/giphy.gif?cid=ecf05e47k1tjoz740215lzqomosx6dbpih36prhyr2chuwv5&rid=giphy.gif&ct=g"
      alt="'WELCOME_PAGE.animation.imageAlt' | translate" [title]="'WELCOME_PAGE.animation.imageTitle' | translate"
      width="300">
    <p>
      <a href="https://giphy.com/gifs/love-i-you-chippythedog-AIPvjOCQ6Gvg9Ll6uR" target="_blank"
        rel="noopener noreferrer" class="hyper-links">{{"WELCOME_PAGE.animation.animationLink" | translate}}</a>
    </p>
  </div>
  <div class="page-actions">
    <button mat-raised-button (click)="onOpenUserLoginDialog()"
      color="default">{{"WELCOME_PAGE.actionButtons.login" | translate}}</button>
    <button mat-raised-button (click)="onOpenUserRegistrationDialog()"
      color="default">{{"WELCOME_PAGE.actionButtons.signUp" | translate}}
    </button>
  </div>
</div>