$break-point__horizontal--xs: 576px;
$break-point__vertical--xs: 840px;

.page {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;

    @media all and (max-height: $break-point__vertical--xs) {
      // justify-content: start;
    }
  }

  &-header {
    padding: 1rem;
    margin: 2rem 0;
    text-align: center;
    border-radius: 0.375rem;
    box-shadow: 1px 1px 15px #00000030;
    width: 300px;

    @media all and (max-width: $break-point__horizontal--xs) {
      width: 85%;
    }
  }

  &-animation {
    padding: 1rem;
    text-align: center;
    border-radius: 0.375rem;

    img {
      border-radius: 0.375rem;
    }

    @media all and (max-width: $break-point__horizontal--xs) {
      img {
        display: block;
        margin: 0 auto;
        width: 80%;
      }
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 0;

    button {
      margin: 0 0.5rem;
    }
  }
}
