<mat-card>
  <mat-card-header>
    <mat-card-title>
      <strong class="dialog-title">{{confirmationDialogBox.title}}</strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-label class="dialog-message">{{confirmationDialogBox.message}}</mat-label>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions align="end" *ngIf="confirmationDialogBox.dialogType">
      <button mat-stroked-button (click)="onClickDecline()"
        cdkFocusInitial>{{confirmationDialogBox.dialogType == "OK/CANCEL" ? 'Cancel' : 'No'}}</button>
      <button mat-button color="warn"
        (click)="onClickAccept()">{{confirmationDialogBox.dialogType == "OK/CANCEL" ? 'OK' : 'Yes'}}</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>