<mat-card *ngIf="task" class="details-container">
  <mat-card-header class="details-content__title">
    <mat-card-title>
      {{"TASKS_TASK_DETAILS.header.title" | translate}}
      <!-- Button Edit -->
    </mat-card-title>
    <mat-card-actions>
      <button mat-icon-button color="default" [ariaLabel]="'TASKS_TASK_ITEM.actionButtons.edit.ariaLabel' | translate"
        (click)="onClickEdit()" [matTooltip]="'TASKS_TASK_ITEM.actionButtons.edit.toolTip' | translate"
        [disabled]="task.done">
        <mat-icon>edit</mat-icon>
      </button>
      <!-- Button Done -->
      <button mat-icon-button color="default"
        [ariaLabel]="'TASKS_TASK_ITEM.actionButtons.toggleDone.ariaLabel' | translate" (click)="onClickDone()"
        [matTooltip]="('TASKS_TASK_ITEM.actionButtons.toggleDone.toolTips.open' | translate) + (task.deadline | date)"
        [disabled]="task.done">
        <mat-icon color="{{task.done ? 'accent' : 'warn'}}">{{task.done ? 'done' : 'timer'}}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <div class="details-content__infos">
      <mat-icon color="default" matSuffix>task</mat-icon>
      <mat-label>
        {{"FORM_FIELDS.task.title.label" | translate}}
      </mat-label>
      <p>
        {{task.title}}
      </p>
    </div>
    <div class="details-content__infos">
      <mat-icon color="default" matSuffix>group_work</mat-icon>
      <mat-label>
        {{"FORM_FIELDS.task.group.label" | translate}}
      </mat-label>
      <p>
        {{task.group}}
      </p>
    </div>
    <div class="details-content__infos">
      <mat-icon color="default" matSuffix>calendar_month</mat-icon>
      <mat-label>
        {{"FORM_FIELDS.task.deadline.label" | translate}}
      </mat-label>
      <p>
        {{task.deadline | date:'MM-dd-yyyy'}}
        <br>
        <i>{{task.deadline | date:'HH:mm:ss'}}</i>
      </p>
    </div>
    <div class="details-content__infos" *ngIf="task.description">
      <mat-icon color="default" matSuffix>description</mat-icon>
      <mat-label>
        {{"FORM_FIELDS.task.description.label" | translate}}
      </mat-label>
      <p>
        {{task.description}}
      </p>
    </div>
    <div class="details-content__infos" *ngIf="task.remindMe">
      <mat-icon color="default" matSuffix>notifications</mat-icon>
      <mat-label>
        {{"FORM_FIELDS.task.reminder.label" | translate}}
      </mat-label>
      <p>
        {{task.reminder | date:"MM-dd-yyyy"}}
        <br>
        <i>{{task.reminder | date:"HH:mm:ss"}}</i>
      </p>
    </div>
    <div class="details-content__infos" *ngIf="task.done">
      <mat-icon color="{{task.done ? 'accent' : 'warn'}}" matSuffix>{{task.done ? 'done' : 'timer'}}</mat-icon>
      <mat-label>
        {{"FORM_FIELDS.task.completion.label" | translate}}
      </mat-label>
      <p *ngIf="task.done">
        {{task.completion | date:'MM-dd-yyyy'}}
        <br>
        <i>{{task.completion | date:'HH:mm:ss'}}</i>
      </p>
    </div>
    <div class="details-content__actions">
      <!-- Button WebLink -->
      <button mat-icon-button type="button"
        [ariaLabel]="'TASKS_TASK_DETAILS.actionButtons.webLink.ariaLabel' | translate"
        (click)="onClickLink(task.webLink)"
        [matTooltip]="'TASKS_TASK_DETAILS.actionButtons.webLink.toolTip' | translate" [disabled]="!task.webLink">
        <mat-icon aria-label="web link icon">link</mat-icon>
      </button>
      <!-- Button ImageLink -->
      <button mat-icon-button type="button"
        [ariaLabel]="'TASKS_TASK_DETAILS.actionButtons.imageLink.ariaLabel' | translate"
        (click)="onClickLink(task.imageLink)"
        [matTooltip]="'TASKS_TASK_DETAILS.actionButtons.imageLink.toolTip' | translate" [disabled]="!task.imageLink">
        <mat-icon aria-label="web link icon">image</mat-icon>
      </button>
      <!-- Button VideoLink -->
      <button mat-icon-button type="button"
        [ariaLabel]="'TASKS_TASK_DETAILS.actionButtons.videoLink.ariaLabel' | translate"
        (click)="onClickLink(task.videoLink)"
        [matTooltip]="'TASKS_TASK_DETAILS.actionButtons.videoLink.toolTip' | translate" [disabled]="!task.videoLink">
        <mat-icon aria-label="web link icon">videocam</mat-icon>
      </button>
      <!-- Button VoiceLink -->
      <button mat-icon-button type="button"
        [ariaLabel]="'TASKS_TASK_DETAILS.actionButtons.voiceLink.ariaLabel' | translate"
        (click)="onClickLink(task.voiceLink)"
        [matTooltip]="'TASKS_TASK_DETAILS.actionButtons.voiceLink.toolTip' | translate" [disabled]="!task.voiceLink">
        <mat-icon aria-label="web link icon">record_voice_over</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions align="end">
      <!-- Button Cancel -->
      <button mat-stroked-button type="button" (click)="onClickOk()" color="warn">
        {{"TASKS_TASK_DETAILS.actionButtons.cancel.label" | translate}}
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>