<mat-card *ngIf="task" class="details-container">
  <mat-card-header class="details-content__title">
    <mat-card-title>
      Task Details
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="details-content__infos">
      <mat-icon color="default" matSuffix>task</mat-icon>
      <mat-label>Title</mat-label>
      <p>
        {{task.title}}
      </p>
    </div>
    <div class="details-content__infos">
      <mat-icon color="default" matSuffix>group_work</mat-icon>
      <mat-label>Group</mat-label>
      <p>
        {{task.group}}
      </p>
    </div>
    <div class="details-content__infos">
      <mat-icon color="default" matSuffix>calendar_month</mat-icon>
      <mat-label>Deadline</mat-label>
      <p>
        {{task.deadline | date}}
      </p>
    </div>
    <div class="details-content__infos">
      <mat-icon color="default" matSuffix>description</mat-icon>
      <mat-label>Description</mat-label>
      <p>
        {{task.description}}
      </p>
    </div>
    <div class="details-content__actions">
      <button type="button" aria-label="Open the web link" mat-icon-button (click)="onClickLink(task.webLink)"
        [disabled]="!task.webLink">
        <mat-icon aria-label="web link icon">link</mat-icon>
      </button>
      <button type="button" aria-label="Open the web link" mat-icon-button (click)="onClickLink(task.imageLink)"
        [disabled]="!task.imageLink">
        <mat-icon aria-label="web link icon">image</mat-icon>
      </button>
      <button type="button" aria-label="Open the web link" mat-icon-button (click)="onClickLink(task.videoLink)"
        [disabled]="!task.videoLink">
        <mat-icon aria-label="web link icon">videocam</mat-icon>
      </button>
      <button type="button" aria-label="Open the web link" mat-icon-button (click)="onClickLink(task.voiceLink)"
        [disabled]="!task.voiceLink">
        <mat-icon aria-label="web link icon">record_voice_over</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions align="end">
      <button mat-stroked-button type="button" (click)="onClickOk()" color="warn">Cancel</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>