$break-point__horizontal--xs: 550px;
$width-card--max: 300px;
$size-footer: 100px;

.user {
  &-profile {
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-bottom: $size-footer;
    }

    &__title {
      padding: 2rem;
      text-align: center;
      font-weight: bold;
    }

    &__item {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1.5rem;
      max-width: $width-card--max;
      width: 100%;

      box-shadow: none;
      background-color: transparent;

      &:first-child {
        @media all and (max-width: $break-point__horizontal--xs) {
          padding-bottom: 1rem;
          border-bottom: 1px solid lightgray;
        }
      }
    }

    &__body {
      padding-top: 0.5rem;
      margin-bottom: 1rem;
    }

    &__userInfo {
      margin-bottom: 0.5;
      overflow: hidden;

      p {
        overflow-wrap: break-word;
        width: calc($width-card--max - 30px);

        &:nth-child(even) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
}
