.tasks {
  &-container {
    padding-bottom: 1rem;
  }

  &-content {
    &__title {
      font-size: 1.5rem;
      border-bottom: 1px solid black;
      padding-bottom: 1rem;
      text-align: center;
      word-break: break-all;
    }

    &__tasks {
      padding-bottom: 1rem;
    }
  }
}
