.tasks {
  &-container {
    padding-bottom: 1rem;
  }

  &-content {
    &__title {
      font-weight: bold;
      border-bottom: 1px solid black;
      padding-bottom: 1rem;
      text-align: center;
    }

    &__tasks {
      padding-bottom: 1rem;
    }
  }
}
