<div class="tasks-container" *ngIf="userData">
  <p class="tasks-content__title">
    All Tasks of <br>
    <i>{{userData.username}}</i>
  </p>
  <mat-card class="tasks-content__tasks" *ngIf="userData['tasks']">
    <mat-card-header>
      <mat-label>
        No. of Tasks: {{userData.tasks.length}}
      </mat-label>
      <mat-card-content class="space-flex"></mat-card-content>
      <button mat-icon-button color="default" aria-label="to finish the task" (click)="onClickAddTask()"
        matTooltip="Add a new task">
        <mat-icon color="default">add_box</mat-icon>
      </button>
    </mat-card-header>    
    <mat-card-content>
      <app-tasks-list></app-tasks-list>
    </mat-card-content>
    <mat-card-content class="space-flex"></mat-card-content>
    <mat-card-footer>
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="!userData['tasks']">
    <mat-card-header>
      <h3>No Tasks</h3>
      <mat-card-content class="space-flex"></mat-card-content>
      <button mat-icon-button color="default" aria-label="to finish the task" (click)="onClickAddTask()"
        matTooltip="Add a new task">
        <mat-icon color="accent">add_box</mat-icon>
      </button>
    </mat-card-header>
  </mat-card>
</div>