$break-point__horizontal--xs: 700px;

.task {
  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem auto;

    &__title {
      flex: 1;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &---done {
        color: gray;
      }
    }

    &__actions {
      &---options {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: calc(48px * 5);
        margin-left: 0.5rem;
        border-radius: 1.5rem;
        background-color: #0000001c;
      }
    }

    &__modes {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
  }
}
