<div class="task-content" *ngIf="task">
  <div class="task-content__title mat-typography" [matTooltip]="task.description">
    {{task.title}}
  </div>
  <div class="space-flex"></div>
  <div class="task-content__actions">
    <button mat-icon-button color="default" aria-label="to finish the task" (click)="onClickToggleDone()"
      [matTooltip]="task.done ? (task.doneAtDate | date) : (task.deadline | date)">
      <mat-icon color="{{task.done ? 'accent' : 'warn'}}">{{task.done ? 'done' : 'timer'}}</mat-icon>
    </button>
    <button mat-icon-button color="default" aria-label="to see task's details" (click)="onClickDetails()"
      matTooltip="See the details">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button color="default" aria-label="to edit the task" (click)="onClickEdit()"
      matTooltip="Edit the task">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="default" aria-label="to delete the task" (click)="onClickDelete()"
      matTooltip="Delete the task">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>