<div class="task-content" *ngIf="task">
  <div *ngIf="taskItemMode === 0" class="task-content__modes">
    <div class="task-content__title" [matTooltip]="task.description">
      <p *ngIf="task.done" class="task-content__title---done"><s>{{task.title}}</s></p>
      <p *ngIf="!task.done">{{task.title}}</p>
    </div>
    <div class="task-content__actions---more">
      <button mat-button color="default" aria-label="to finish the task" (click)="onClickMore()" matTooltip="See more">
        <mat-icon color="primary">more_horiz</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="taskItemMode === 1" class="task-content__modes">
    <div class="task-content__actions---options">
      <button mat-icon-button color="default" aria-label="to finish the task" (click)="onClickLess()"
        matTooltip="See less">
        <mat-icon color="primary">arrow_back_ios</mat-icon>
      </button>
      <button mat-icon-button color="default" aria-label="to finish the task" (click)="onClickToggleDone()"
        [matTooltip]="task.done ? 'Done at: ' + (task.doneAtDate | date) : 'Deadline: ' + (task.deadline | date)">
        <mat-icon color="{{task.done ? 'accent' : 'warn'}}">{{task.done ? 'done' : 'timer'}}</mat-icon>
      </button>
      <button mat-icon-button color="default" aria-label="to see task's details" (click)="onClickDetails()"
        matTooltip="See the details">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button color="default" aria-label="to edit the task" (click)="onClickEdit()"
        matTooltip="Edit the task">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="default" aria-label="to delete the task" (click)="onClickDelete()"
        matTooltip="Delete the task">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>