<mat-card>
  <mat-card-header>
    <mat-card-title class="dialog__title">
      {{"LANGUAGE.header.title" | translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions>
      <!-- English -->
      <button mat-stroked-button class="element__mr--10" *ngIf="currentAppLanguage === 'en-US'" color="default"
        [matTooltip]="'LANGUAGE.actionButtons.en.toolTip' | translate" (click)="onClickEnglish()"
        cdkFocusInitial>{{"LANGUAGE.actionButtons.en.label" | translate}}
      </button>
      <button mat-raised-button class="element__mr--10" *ngIf="currentAppLanguage !== 'en-US'" color="default"
        [matTooltip]="'LANGUAGE.actionButtons.en.toolTip' | translate"
        (click)="onClickEnglish()">{{"LANGUAGE.actionButtons.en.label" | translate}}
      </button>
      <!-- German -->
      <button mat-stroked-button *ngIf="currentAppLanguage === 'de-DE'" color="default"
        [matTooltip]="'LANGUAGE.actionButtons.de.toolTip' | translate" (click)="onClickGerman()"
        cdkFocusInitial>{{"LANGUAGE.actionButtons.de.label" | translate}}
      </button>
      <button mat-raised-button *ngIf="currentAppLanguage !== 'de-DE'" color="default"
        [matTooltip]="'LANGUAGE.actionButtons.de.toolTip' | translate"
        (click)="onClickGerman()">{{"LANGUAGE.actionButtons.de.label" | translate}}
      </button>
      <!-- Turkish -->
      <!-- <button mat-stroked-button *ngIf="currentAppLanguage === 'tr-TR'" color="default"
        [matTooltip]="'LANGUAGE.actionButtons.tr.toolTip' | translate" (click)="onClickTurkish()"
        cdkFocusInitial>{{"LANGUAGE.actionButtons.tr.label" | translate}}
      </button>
      <button mat-raised-button *ngIf="currentAppLanguage !== 'tr-TR'" color="default"
        [matTooltip]="'LANGUAGE.actionButtons.tr.toolTip' | translate"
        (click)="onClickTurkish()">{{"LANGUAGE.actionButtons.tr.label" | translate}}
      </button> -->
      <!-- Persian -->
      <!-- <button mat-stroked-button *ngIf="currentAppLanguage === 'fa-IR'" color="default"
        [matTooltip]="'LANGUAGE.actionButtons.fa.toolTip' | translate" (click)="onClickPersian()"
        cdkFocusInitial>{{"LANGUAGE.actionButtons.fa.label" | translate}}
      </button>
      <button mat-raised-button *ngIf="currentAppLanguage !== 'fa-IR'" color="default"
        [matTooltip]="'LANGUAGE.actionButtons.fa.toolTip' | translate"
        (click)="onClickPersian()">{{"LANGUAGE.actionButtons.fa.label" | translate}}
      </button> -->

    </mat-card-actions>
  </mat-card-content>
</mat-card>