$color-snackbar-success: #1a6b1e;
$color-snackbar-failure: #6e1610;
$color-snackbar-warn: #ad7308;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  * {
    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.hyper {
  &-links {
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 10px white, -1px -1px 10px white;
    color: black;

    &:link,
    &:visited {
      color: black;
    }

    &:hover,
    &:focus {
      color: #303030;
    }

    &:active {
      color: white;
      text-shadow: none;
    }
  }
}

.green {
  &-snackbar {
    background: $color-snackbar-success !important;
    color: white !important;

    button {
      background-color: $color-snackbar-success !important;
      color: white !important;
      border: none !important;
    }
  }
}

.red {
  &-snackbar {
    background: $color-snackbar-failure !important;
    color: white !important;

    button {
      background-color: $color-snackbar-failure !important;
      color: white !important;
      border: none !important;
    }
  }
}

.orange {
  &-snackbar {
    background: $color-snackbar-warn !important;
    color: white !important;

    button {
      background-color: $color-snackbar-warn !important;
      color: white !important;
      border: none !important;
    }
  }
}

.error {
  &-message {
    color: darkred;
    text-align: center;
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help {
  &-box {
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 85%;
    border: 1px solid #e83b3b51;
    border-radius: 0.375rem;
    font-size: small;
    background-color: #440000;

    li {
      color: #ffffff;
    }

    &__title {
      color: #ffffff;
      font-weight: bold;
    }
  }
}
