.footer {
  &-container {
    margin: 0 auto;
    padding: 5px 0 10px 0;
    text-align: center;
    background-color: #212121;
    width: 100%;
    z-index: 1;

    * {
      vertical-align: middle;
    }
  }

  &__social-media {
    img {
      background-color: white;
      padding: 0.375rem;
      border-radius: 0.375rem;
    }
  }
}
