<form class="search-container" autoComplete="off" [formGroup]="formGroupEl">
  <mat-card-content *ngIf="tasks && userId" class="search-box__content">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" placeholder="title" id="title">
      <mat-icon color="default" matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions class="search-box__actions">
    <button mat-icon-button type="button"
      *ngIf="tasks.length > 0 && formGroupEl.controls['title'].value.trim().length > 0"
      (click)="onClickClearSearchBox()"
      [disabled]="tasks.length === 0 || formGroupEl.controls['title'].value.trim().length === 0"
      matTooltip="Clear the search box">
      <mat-icon
        [color]="tasks.length === 0 || formGroupEl.controls['title'].value.trim().length === 0 ? 'default' : 'warn'">backspace</mat-icon>
    </button>
  </mat-card-actions>
</form>
<mat-list role="list" *ngIf="tasks && userId">
  <mat-list-item class="task-item" role="listitem"
    *ngFor="let task of tasks | filterArray:formGroupEl.controls['title'].value:'title'">
    <app-task-item [task]="task" [userId]="userId"></app-task-item>
  </mat-list-item>
</mat-list>