.task {
  &-item {
    margin-bottom: 0.1rem;
  }
}

.search {
  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &-box {
    &__content {
      flex: 1;
      margin: 0;

      mat-form-field {
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }

    &__actions {
      padding: 0;
      margin: 0;
    }
  }
}

mat {
  &-paginator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid gray;
  }
}
