<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
    [ngClass]="{hidden: (isHandset$ | async) === false}">
    <mat-toolbar i18n color="default">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngIf="isUserAuthenticated" class="list-item" (click)="onClickTasks()" matTooltip="Tasks">
        <mat-icon mat-list-icon>task</mat-icon>
        <span i18n>Tasks</span>
      </mat-list-item>
      <mat-list-item *ngIf="isUserAuthenticated" class="list-item" (click)="onClickUserProfile()"
        [matTooltip]="username">
        <mat-icon mat-list-icon>person</mat-icon>
        <span i18n>User profile</span>
      </mat-list-item>
      <mat-list-item *ngIf="isUserAuthenticated" class="list-item" (click)="onClickSyncData()" matTooltip="Sync data">
        <mat-icon mat-list-icon>sync</mat-icon>
        <span i18n>Sync data</span>
      </mat-list-item>
      <mat-list-item *ngIf="isUserAuthenticated" class="list-item" (click)="onClickLogout()" matTooltip="Logout">
        <mat-icon mat-list-icon>logout</mat-icon>
        <span i18n>Logout</span>
      </mat-list-item>
      <mat-list-item class="list-item" (click)="onClickLanguage()" [matTooltip]="language">
        <mat-icon mat-list-icon>language</mat-icon>
        <span i18n>Language</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="default">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Toolbar Content AND Nav Items Here -->
      <span class="app-brand" (click)="onClickAppBrand()">Musto Task Reminder</span>
      <span class="spacer"></span>
      <div *ngIf="isUserAuthenticated && (isHandset$ | async) === false">
        <button i18n mat-icon-button color="default" aria-label="to go to the tasks page" (click)="onClickTasks()"
          matTooltip="tasks">
          <mat-icon>task</mat-icon>
        </button>
        <button i18n mat-icon-button color="default" aria-label="to go to the user profile"
          (click)="onClickUserProfile()" [matTooltip]="username">
          <mat-icon>person</mat-icon>
        </button>
        <button i18n-arial-label mat-icon-button color="default" aria-label="to synchronize data with the database"
          matTooltip="Sync data" (click)="onClickSyncData()">
          <mat-icon>sync</mat-icon>
        </button>
        <button i18n-arial-label mat-icon-button color="default" aria-label="to logout from the app" matTooltip="Logout"
          (click)="onClickLogout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      <div *ngIf="(isHandset$ | async) === false">
        <button i18n-matTooltip mat-icon-button color="default" aria-label="to set the language" matTooltip="Language"
          (click)="onClickLanguage()">
          <mat-icon>language</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- Page Content Here -->
    <div class="page-content">
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>